Q1. Create one variable containing following type of data:
(i)	string

(ii)	list

(iii)	float

(iv)	tuple

In [ ]:
#i.String

In [8]:
s = 'ram'

In [9]:
s

'ram'

In [14]:
type(s)

str

In [10]:
#ii. list

In [11]:
l = [1,2,3,4,'ram',4j,4.06,True, False]

In [12]:
l

[1, 2, 3, 4, 'ram', 4j, 4.06, True, False]

In [13]:
type(l)

list

In [ ]:
#iii. float

In [23]:
f = 5.06

In [24]:
f

5.06

In [25]:
type(f)

float

In [15]:
#iv. tuple

In [16]:
x = (1,2,3,4,'raj',4j,54.6,True)

In [17]:
x

(1, 2, 3, 4, 'raj', 4j, 54.6, True)

In [18]:
type(x)

tuple

Q2.  Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.


What will be the data type of the above given variable.

In [26]:
#(i) var1 = ‘ ‘

In [28]:
var1 = ' '

In [29]:
type(var1)

str

In [30]:
#(ii) var2 = ‘[ DS , ML , Python]’

In [33]:
var2 = '[ DS , ML , Python]'

In [34]:
type(var2)

str

In [35]:
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

In [36]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [37]:
type(var3)

list

In [38]:
#(iv) var4 = 1

In [39]:
var4 = 1

In [40]:
type(var4)

int

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

These all are airthmetic operators which are used with numeric value to perform mathematical operations.

In [41]:
#(i) /

This operator used for division purpose

In [42]:
a = 10
b = 5
c = a / b
print(c)

2.0

In [44]:
#(ii) %

This Mod operator is used for finding the remainder after division

In [45]:
a = 6
b = 5
c = a % b
print(c)

1

In [46]:
#(iii) //

This floor division operator is similar to division operation but it returns the  largest possible integer and also the value is either less than or equal to the normal division result.

In [50]:
a = 10.5
b = 5.2
c = a // b
print(c)

2.0

In [51]:
#(iv) **

This is called power operator which is used for raise the first operand to the power of second operand.

In [52]:
7 ** 2

49

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [54]:
l = [1, 2, 3, 4, 5, 6, 'raj' 'ram', 5j, True, 4.6]
print(len(l))

10

In [55]:
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'complex'>
<class 'bool'>
<class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [60]:
A = 27
B = 3
count = 0

while A % B ==0:
    A = A / B
    count += 1
if count > 0:
    print(f"{A} is divible by number {B} and can be divided {count} times.")
else :
    print('A is not divisible by B')

1.0 is divible by number 3 and can be divided 3 times.

In [61]:
l = [7, 9, 12, 15, 18, 23, 24, 28, 30, 33, 37, 38, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 73, 76, 79]
for i in l:
    if i % 3 == 0:  
        print(f"{i} is divisible by 3")
    else :
        print(f"{i} is not divisible by 3")

7 is not divisible by 3
9 is divisible by 3
12 is divisible by 3
15 is divisible by 3
18 is divisible by 3
23 is not divisible by 3
24 is divisible by 3
28 is not divisible by 3
30 is divisible by 3
33 is divisible by 3
37 is not divisible by 3
38 is not divisible by 3
42 is divisible by 3
45 is divisible by 3
48 is divisible by 3
51 is divisible by 3
54 is divisible by 3
57 is divisible by 3
60 is divisible by 3
63 is divisible by 3
66 is divisible by 3
69 is divisible by 3
73 is not divisible by 3
76 is not divisible by 3
79 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [ ]:
#Mutable----
#1> It values can be modified after they created.
#2> Whatever the change made to a mutable object, it affect the object also,
#3> Mutable data types are lists, dict and sets.

In [62]:
x = [1, 2, 3, 4]
x[2] = 5 # Modifies the original list by adding a new element
print(x)

[1, 2, 5, 4]

In [63]:
#Immutable
#1> It values can't be modified once they are created.
#2> If we modify an immutable object, it will create a new object with the updated value.
#3> Immutable data type are string, int, float, tuple.

In [64]:
a = "ram"
a[1] = p # It values can't be modified once they are created.
#here it will throw an error, if we try to change.

NameError: name 'p' is not defined

In [69]:
name = 'ram'
my_name = name.upper()

In [70]:
print(name)#it will return privous value 
print(my_name)#it will return updated value of the object by creating new object.

ram
RAM